@font-face {
	font-family: 'ProximaNova';
	src: url('ProximaNovaSoft-Bold.otf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'ProximaNova', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff
}

h1, h2 {
    font-weight: 300;
    margin: 10px 0;
}

p {
    font-weight: 300;
    margin: 10px 0;
} 

img {
    width: 100%;
}

.navbar {
    background-color: #e32018;
    color: #fff; 
    height: 64px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin: 0 10px;
}

.navbar a:hover {
    border-radius: 10px;
    background-color: #cc1d16;
}

.navbar .flex {
    justify-content: space-between;
}

.nav-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu {
    background-color: #fcf7f5;
    color: #000; 
    height: 120px;
    font-weight: 300;
}

.menu .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
}

.menu-container {
    max-width: 800px;
    margin: 0 auto;
    overflow: auto;
}

.menu-container a {
    font-size: 20px;
    color: #000;
}

.menu-container h1{
    font-size: 32px;
    margin: 0;
}

.menu-container p {
    font-size: 18px;
    margin: 0;
}

#menu-nav {
    margin-top: 20px;
    margin-bottom: 0px;
}