@font-face {
	font-family: 'ProximaNova';
	src: url('ProximaNovaSoft-Bold.otf');
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'ProximaNova', sans-serif;
    color: #333;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff
}

h1, h2 {
    font-weight: 300;
    margin: 10px 0;
}

p {
    font-weight: 300;
    margin: 10px 0;
} 

img {
    width: 100%;
}

.navbar {
    background-color: #e32018;
    color: #fff; 
    height: 64px;
}

.navbar ul {
    display: flex;
}

.navbar a {
    color: #fff;
    text-align: center;
    padding: 10px;
    font-size: 22px;
    margin: 0 10px;
}

.navbar a:hover {
    border-radius: 10px;
    background-color: #cc1d16;
}

.navbar .flex {
    justify-content: space-between;
}

.nav-container {
    max-width: 1200px;
    margin: 0 auto 0;
    overflow: auto;
    padding: 0 40px;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.menu {
    background-color: #fcf7f5;
    color: #000; 
    height: 160px;
    font-weight: 300;
}

.menu .flex {
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex;
}

.menu-container {
    max-width: 1100px;
    margin: 0 auto;
    overflow: auto;
}

.menu-container a {
    font-size: 20px;
    color: #000;
    margin: 0 auto 0 62px;
}

.menu-container h1 {
    font-size: 40px;
    margin: 0 auto 0 62px;
}

.menu-container p {
    font-size: 20px;
    margin: 0 auto 0 62px;
}

.menu-nav {
    margin-top: 20px;
    margin-bottom: 0px;
}

.stopinfo-container {
    max-width: 950px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 20px;
}

.stopinfo-container .flex {
    flex-direction: row;
    justify-content: space-between;
}

.departures {
    background-color: #e32018;
    width: 610px;
    min-height: 50px;
    font-weight: 300;
    overflow: auto;
    margin-top: 0;
    margin-bottom: auto;
    border-radius: 20px;
    border-style: solid;
    border-color: #e32018;
    border-width: 2px;
}

.departures-top {
    color: #fff; 
    height: 48px;
    margin-top: 0;
    margin-bottom: auto;    
}

#live-arrivals {
    font-size: 20px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
}

#at {
    font-size: 20px;
    margin-left: 12px;
    margin-top: auto;
    margin-bottom: auto;
}

#time {
    font-size: 20px;
    margin-left: 12px;
    margin-right: auto;
}

#refresh {
    display: block;
    margin-right: 0;
    margin-left: auto;
}

.arrival {
    height: 56px;
    margin-left: 0px;
    margin-right: auto;
    background-color: #fcf7f5;
    color: #333;
}

.arrival .flex {
    justify-content: flex-start;
}

.line {
    font-size: 38px;
    margin-left: 15px;
    margin-top: auto;
    margin-bottom: auto;
    width: 80px;
    color: #333;
}

.destination {
    font-size: 24px;
    margin-left: 15px;
    margin-right: auto;
}

.eta {
    font-size: 38px;
    margin-left: auto;
    margin-right: 8px;
}

.min {
    font-size: 18px;
    margin-right: 15px;
    margin-bottom: 12px;
    margin-top: auto;
}

.map {
    background-color: #ffd0d0;
    width: 300px;
    height: 200px;
    color: #000; 
    margin: 0 auto;
    overflow: auto;
}